header {
  background-color: #333;
  color: #eee;
  text-align: center;
  padding: 20px 0;
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #efeee7;
}

.container {
  padding: 20px 0;
}

h1 {
  margin: 0;
}

#main-bio {
  width: 70%;
  float: left;
}

#contact-info {
  width: 30%;
  float: left;
}

#bio-image {
  float: left;
  margin: 0 20px 0 0;
}

a {
  color: #d21034;
}



