* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
/*Color concept from Anna Senkova via Hook. Greenery + Gradients
https://hookagency.com/website-color-schemes/*/
:root {
  --primary-color: #164a41;
  --secondary-color: #247e6f;
  --tertiary-color: #46b3a0;
  --border-accent-color: lightblue;
  --link-color:rgb(233, 145, 64);
}
/*Header, Nav, Links*/
header {
  background-image:linear-gradient(to bottom right,var(--primary-color),var(--tertiary-color));
  color: var(--border-accent-color);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position:-webkit-sticky;
  position: sticky;
  background-size: cover;
  background-attachment: fixed;
  background-position: 75%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  background-image:linear-gradient(to bottom,right,var(--tertiary-color),var(--border-accent-color));
  margin: 0;
  text-shadow: 0 0 5px lightblue;
}

header a {
  text-decoration: none;
}
header nav {
  margin: 5px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header nav ul li a{
  color: var(--link-color);
  padding: 5px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 5px lightblue;
  background-image:linear-gradient(to bottom,right,var(--tertiary-color),var(--border-accent-color));
  }

   a, a:focus, a:hover {
    color: var(--border-accent-color);
  }

  a, a:visited{
    color:var(--border-accent-color);
  }
  /*End of Header & Links*/

  /*Footer*/

  footer {
    background-image:linear-gradient(to bottom right,var(--primary-color),var(--tertiary-color));
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
  }

 /*End Footer*/



 /*Hero*/

.hero {
  background-image: url(../images/profile-background.JPG);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-size: cover;
  background-position: 100%;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;  
}

h2 {
  padding-right: 2%;
  height: 80%;
  margin:1%;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-wrap: wrap;
  border-right: 3px solid lightblue; 
}

.hero img {
  height: 80%;
  border: 2px solid black;
  border-radius: 5px;
  margin:1%;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-wrap: wrap;
}

.hero p {
  color: white;
  margin-left: 1%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

body {
  background-image:linear-gradient(to bottom right,var(--primary-color),var(--tertiary-color));
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-size: cover;
  background-position: 100%;
  width: 100%;
}

.glow {
  color: var(--border-accent-color);
  padding: 5px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 5px lightblue;
}

/*Projects Section*/



/*Contact Info*/
#contact-info {
  background-image:linear-gradient(to bottom right,var(--primary-color),var(--tertiary-color));
  color: var(--border-accent-color);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
  background-position: 75%;
 }

 #contact-info ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
 }

 #contact-info ul li a {
  color: var(--link-color);
  padding: 5px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 5px lightblue;
  background-image:linear-gradient(to bottom,right,var(--tertiary-color),var(--border-accent-color));
 }






